{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
<a href="{{path('app_category_new')}}" class="btn btn-outline-success">Ajouter une catégorie</a>
<h1 class="text-center"> Tableau de categories</h1>

{% for category in categories %}
<div class="container">
<div class="card col-3">
  <div class="card-body">
    <h5>{{category.name}}</h5>
      <a href="{{ path ('update', {'id': category.id}) }}" class="btn btn-outline-warning"> Modifier </a>
      <a href="{{ path ('delete', {'id': category.id}) }}" class="btn btn-outline-danger"> Supprimer </a>
   
  </div>
</div>
</div>
{% endfor %}

{% endblock %}
