{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class='mt-4 mb-4'>Commande</h1>
            {{form_start(form)}}
                {{ form_widget(form) }}
                <input class="btn btn-outline-primary" type="submit" value="Continuer" data-turbo="false">
            {{form_end(form)}}
        </div>
        <div class="col-4 mt-5">
            <span class="mb-2">Montant à payer :</span>
            <h3>
                <span id="card-price">{{total}}</span>€
            </h3>
            <span>Frais de livraison</span>
             <h3>
                <span id="shippingCost"></span>€
            </h3>
            <span>Montant total à payer</span>
            <h3>
            <span class="total-price"></span>€
            </h3>
        
        </div>
    </div>
   
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>

    $(document).ready(function(){
        const citySelector = $('#order_city');//selectionne l'élément HTML qui a pour ID order_city et le stock dans la constante citySelector
        const cityValue = citySelector.val();//recupere la valeur actuelle de l'élément citySelector (liste déroulante des villes) et le stock dans la variable cityValue

        const url = `/city/${cityValue}/shipping/cost`;

            function ajaxRequest(url){

        

                    $.ajax({
                        url:url,
                        type:'GET',
                        success:function(response){
                            const newResponse = JSON.parse(response)
                            if (parseInt(newResponse.status) == 200){
                                console.log(newResponse.status)
                                $("#shippingCost").text(newResponse.content)

                                const cardPrice = parseInt($('#card-price').text());
                                const shippingCost = parseInt($('#shippingCost').text());
                                $('.total-price').text(cardPrice+shippingCost);
                                console.log(cardPrice)
                            }

                        },
                        error:function(xhr,status,error){


                        }
                   })
            }

            ajaxRequest(url)       

            citySelector.on("change",function(){
                //const newCityValue=$(this).val();
                const newUrl=`/city/${$(this).val()}/shipping/cost`;

               ajaxRequest(newUrl)

            })
    })

</script>
{% endblock %}
