{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class='mt-4 mb-4'>Commande</h1>
            {{form_start(form)}}
                <input class="btn btn-outline-primary" type="submit" value="Continuer">
            {{form_end(form)}}
        </div>
        <div class="col-4 mt-5">
            <span class="mb-2">Montant à payer :</span>
            <h3>
                <span id="card-price">{{total}}</span>€
            </h3>
            <span>Frais de livraison</span>
        
        </div>
    </div>
   
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        const citySelector = $('#order_city');//selectionne l'élément HTML qui a pour ID order_city et le stock dans la constante citySelector
        const cityValue = citySelector.val();//recupere la valeur actuelle de l'élément citySelector (liste déroulante des villes) et le stock dans la variable cityValue
    })
</script>
{% endblock %}
