{% extends 'base.html.twig' %}

{% block title %}Order confirmation{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4 mb-4" >Order confirmation</h1>
        <p>Your order have been succesfully sent</p>
    </div>

{% endblock %}

